@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

.user-card {
  font-family: 'Open Sans', Arial, sans-serif;
  overflow: hidden;
  color: #ffffff;
  text-align: center;
  line-height: 1.4em;
  background-color: #141414;
}

.user-card * {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.user-card .background {
  height: auto width: 100%;
  vertical-align: top;
  opacity: 0.2;
  -webkit-filter: grayscale(100%) blur(10px);
  filter: grayscale(100%) blur(10px);
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.user-card figcaption {
  padding: 15px 25px;
  left: 0;
}

.user-card .profile {
  border-radius: 20%;
  opacity: 1;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.5);
  max-width: 95%;
}

.user-card h3 {
  margin: 0 0 5px;
  font-weight: 400;
  font-size: auto;
}

.user-card h3 span {
  display: block;
  font-size: 0.6em;
  color: #f39c12;
  opacity: 0.75;
}

.user-card i {
  padding: 10px 5px;
  display: inline-block;
  font-size: 32px;
  color: #ffffff;
  text-align: center;
  opacity: 0.65;
}

.user-card a {
  text-decoration: none;
}

.user-card i:hover {
  opacity: 1;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.user-card:hover .background,
.user-card.hover .background {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

@media (max-width: 767.98px) {
  .profile {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .profile {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
}

@media (min-width: 992px) {
  .profile {
    width: 230px;
    height: 230px;
    object-fit: cover;
  }
}
